.container
{
    height: 50%;
    width: 40%;
    display: flex;
    flex-direction: column;
    font-size: 24px;
    font-weight: 800;
    color: white;
 
}
.box{
    height: 25%;
    flex: 1; 
    backdrop-filter: blur(8px);

        
}
.box ol{
    list-style: none;
}
.box2{
    flex: 1;  
}